@mdkYellow1: #ffbb33;
@mdkRed1: #ff0000;

//// This style applies to all the ActionBars in the application
ActionBar {
    color: white;
    background-color: red;
}

//// This style applies to all the ToolBars in the application
ToolBar {
    color: white;
    background-color: blue;
}

//// LogoutToolbarItem is tool bar item for Logout in Main.page
#LogoutToolbarItem  {
    color: brown;
}

//// UploadToolbarItem is tool bar item for Sync in Main.page
#UploadToolbarItem  {
    color: green;
}

//// By-Class style: These style classes can be referenced from rules and set using ClientAPI setStyle function
//// below snippet is to style SalesOrder button on Main.page
.MySalesOrderButton {
  font-color: @mdkRed1;
  background-color: black;
}

//// below snippet is to style Title property of an Object Table control in Customers_List.page
.ObjectTableTitle {
  font-color: @mdkYellow1;
  background-color: @mdkRed1;
}

//// below snippet is to style Object Header control in Customers_Detail.page

.objectHeaderBodyText {
  font-color: red;
}

.objectHeaderDescription {
  font-color: blue;
}

.objectHeaderFootNote {
  font-color: green;
}

.objectHeaderHeadline {
  font-color: #ff00ff;
}

.objectHeaderBackground {
background-color: #DC143C;
}

.objectHeaderStatus {
  background-color: #cccccc;
  font-color: red;
  font-name: italicSystem;
  font-style: italic;
  font-size: 18;
}

.objectHeaderSubhead {
  font-color: yellow;
}

.objectHeaderSubStatus {
  background-color: #cccccc;
  font-color: blue;
  font-name: italicSystem;
  font-style: italic;
  font-size: 18;
}