{
	"DestinationName": "com.sap.edm.sampleservice.v4",
	"OfflineEnabled": true,
	"OfflineOptions": {
		"StoreParameters": {
			"EnableBackgroundDataTransfer": true
		},
		"AutoIncludeProgressMessages": true
	},
	"SourceType": "Mobile"
}