{
    "DestinationName": "com.sap.mdk.jk.annotation",
    "OfflineEnabled": false,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}